<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Blog Posts</h1>

<a href="{{ url_for('add') }}" class="btn-add">➕ Add new post</a>
<hr>

{% for post in posts %}
  <article class="post">
    <h2>{{ post.title }}</h2>
    <p><strong>Author:</strong> {{ post.author }}</p>
    <p>{{ post.content }}</p>

    <a href="{{ url_for('update', post_id=post['id']) }}" class="btn-update">Update</a>

    <a href="{{ url_for('delete', post_id=post['id']) }}" class="btn-delete">Delete</a>
    <hr>
  </article>
{% endfor %}

</body>
</html>
